<section>
<h1>About Me</h1>
  <img src='http://en.gravatar.com/userimage/23459167/eb1b1cfb1271b9ebb919b97f0f468a28.jpg' style='float: left;' />
  <p>
    Hi I'm Yann ARMAND.
  </p><p>
  I'm lead developer on <a href='http://www.xinet.com/tech/tech_archive.html'>WebNative-Archive</a> and keep my mind fresh and fast with side projects.
  </p><p>
    Talk me about code, just code.... or food.
  <p/><p>
    Meet me at #ruby drink meetups in #Bordeaux <a href='https://twitter.com/#!/rubybdx'>@rubybdx</a> - <a href='http://rubybdx.org'>rubybdx.org</a>
  </p>
  <p>
    <a href='https://twitter.com/#!/yarmand'><img src='/images/Twitter.png' style='border: 0;'></a>
    <a href='https://www.facebook.com/yann.armand'><img src='/images/Facebook.png' style='border: 0;'></a>
    <a href='https://github.com/yarmand'><img src='/images/Github.png' style='border: 0;'></a>
  </p><p>
  <h2> My last talks @rubybdx (french)</h2>
   <ul>
     <li class="post"><a href='http://rubybdx.org/presentations/#2012_04_03_yann'>Programmer un wiki en 20 minutes avec Sinatra</a></li>
     <li class="post"><a href='http://rubybdx.org/presentations/#2011_12_06_yann'>Ruby 1.9 - Quelques nouveautés 1/2</a></li>
     <li class="post"><a href='http://rubybdx.org/presentations/#2012_01_10_yann'>Ruby 1.9 - Quelques nouveautés 2/2</a></li>
     <li class="post"><a href='http://rubybdx.org/presentations/#2011_11_08_yann'>Isolation et déclenchement automatique de code JS en Rails 3.1</a></li>
    </ul>
  </p>

</section>
